---
import "global.scss";
import { OgImage } from "@imagekit/astro";
import Font from "astro/components/Font.astro";
import BreadCrumbs from "@/react/BreadCrumbs";
import Grid from "@/react/Grid";

interface BreadcrumbItem {
  url?: string;
  name: string;
}

interface Props {
  title: string;
  metaDescription?: string;
  canonicalUrl: string | URL;
  breadcrumbItems: BreadcrumbItem[];
}

const {
  title = "Junayd Bhoyroo",
  metaDescription = "Junayd Bhoyroo's portfolio",
  canonicalUrl = Astro.site,
  breadcrumbItems = [{ name: "Junayd Bhoyroo", url: "/" }],
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      const theme = "dark";

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      localStorage.setItem("theme", theme);

      window.addEventListener("storage", (event) => {
        if (event.key === "theme") {
          const isDark = event.newValue === "dark";
          if (isDark) {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        }
      });
    </script>
    <Font cssVariable="--font-recursive" preload />
    <Font cssVariable="--font-jetbrains-mono" />
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <OgImage
      src="/web/brand-gradient.jpg"
      alt="Brand gradient"
      title={title}
      description={metaDescription}
    />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Grid>
        <BreadCrumbs items={breadcrumbItems} />
      </Grid>
      <slot />
    </main>
    <div class="scanlines" aria-hidden="true"></div>
  </body>
</html>

<style>
  :global(body) {
    position: relative;
    max-width: none;
  }

  main {
    max-width: 80ch;
    position: relative;
  }

  .scanlines {
    position: fixed;
    inset: 0;
    z-index: 999;
    pointer-events: none;
    opacity: 0.9;
    background: repeating-linear-gradient(
      transparent 0 2px,
      rgba(255, 255, 255, 0.024) 3px,
      transparent 4px
    );
  }
</style>
