---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import { getAllCollectionNames } from "@helpers/getAllCollectionNames";

export async function getStaticPaths() {
  const allCollections = getAllCollectionNames();
  const allPosts = await Promise.all(
    allCollections.map((name) => getCollection(name)),
  );
  return allPosts.flat().map((post) => ({
    params: { collection: post.collection, slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <div>
    <h1>
      {post.data.title}
    </h1>
    {
      post.data.rows?.map((row) => {
        if (row.type == "text") {
          return (
            <>
              <h2>{row.title}</h2>
              <div>
                {row.items.map((item) => (
                  <p>{item}</p>
                ))}
              </div>
            </>
          );
        }
        if (row.type == "links") {
          return (
            <>
              <h2>{row.title}</h2>
              <div>
                {row.items.map((item) => (
                  <a href={item.href}>{item.text}</a>
                ))}
              </div>
            </>
          );
        }
      })
    }
  </div>
  <Content />
</BaseLayout>
