---
import BaseLayout from "@/astro/BaseLayout.astro";
import Contents from "@/astro/Contents.astro";
import ImageModal from "@/astro/ImageModal.astro";
import InlineLink from "@/astro/InlineLink.astro";
import ListItem from "@/astro/ListItem.astro";
import Grid from "@/react/Grid";
import Paragraph from "@/astro/Paragraph.astro";
import Subheader from "@/astro/Subheader.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("projects");

  return posts
    .flat()
    .filter((post) => post.data.published)
    .map((post) => ({
      params: { collection: post.collection, slug: post.id },
      props: { post },
    }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
const { description, metaDescription, links = [] } = post.data;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout
  title={post.data.title}
  metaDescription={metaDescription}
  canonicalUrl={canonicalUrl}
  breadcrumbItems={[
    { name: "Junayd Bhoyroo", url: "/" },
    { name: post.collection[0].toUpperCase() + post.collection.slice(1) },
    { name: post.data.title },
  ]}
>
  <Grid>
    <h2>Summary</h2>
    <Paragraph>{description}</Paragraph>

    {links.length > 0 && <h2>Links</h2>}
    {
      links.length > 0 && (
        <Paragraph>
          {links.map((item) => (
            <>
              <InlineLink href={item.href}>{item.text}</InlineLink>
            </>
          ))}
        </Paragraph>
      )
    }

    <Contents headings={headings} />
  </Grid>

  <Grid>
    <Content
      components={{
        p: Paragraph,
        a: InlineLink,
        img: ImageModal,
        h2: Subheader,
        li: ListItem,
      }}
    />
  </Grid>
</BaseLayout>

<style>
  .topics {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
