---
import BaseLayout from "@/astro/BaseLayout.astro";
import LinkButton from "@/astro/LinkButton.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const sections = await getCollection("sections");
---

<BaseLayout title="Home">
  <div class="section">
    <div>
      <h2>Posts</h2>
      <div class="post-links">
        {
          posts.map((post) => {
            if (post.data.published) {
              const date = new Date(post.data.date);
              const dateString =
                date.toLocaleString("default", { month: "short" }) +
                " " +
                date.getDay() +
                ", " +
                date.getFullYear();
              return (
                <div>
                  <LinkButton
                    text={post.data.title}
                    href={`${post.collection}/${post.id}`}
                  />
                  <p>{dateString}</p>
                </div>
              );
            }
          })
        }
      </div>
    </div>
  </div>

  {
    sections.map((section) => {
      const enabled = section.data.items.filter((item) => item.enabled);

      if (enabled.length > 0) {
        return (
          <div class="section">
            <h2>{section.id}</h2>
            <div class="post-links">
              {section.data.items.map((item) => (
                <LinkButton text={item.title} href={item.href} external />
              ))}
            </div>
          </div>
        );
      }
    })
  }
</BaseLayout>

<style lang="scss">
  .section {
    margin-bottom: var(--separation-margin);
  }

  .post-links {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    border-radius: 5px;

    div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
