---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("dev");
  return entries.map((post) => ({
    params: { slug: post.id },
    props: { post: post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const date = new Date();
---

<BaseLayout title={post.data.title}>
  <div>
    <h2>title</h2>
    <p>
      {post.data.title}
    </p>
    {
      post.data.rows?.map((row) => {
        if (row.type == "text") {
          return (
            <>
              <h2>{row.title}</h2>
              <div>
                {row.items.map((item) => (
                  <p>{item}</p>
                ))}
              </div>
            </>
          );
        } else if (row.type == "links") {
          return (
            <>
              <h2>{row.title}</h2>
              <div>
                {row.items.map((item) => (
                  <a href={item.href}>{item.text}</a>
                ))}
              </div>
            </>
          );
        }
      })
    }
    <h2>last updated</h2>
    <p>
      {date.toLocaleString("en-GB").slice(0, 10)} @ {date.toLocaleTimeString()}
    </p>
  </div>
  <Content />
</BaseLayout>
